.additional {
  display: flex;
  flex-direction: column;

  @media (min-width: $min-width-desktop) {
    flex-direction: row;
  }
}

.additional__title {
  @include base-text-styles(24px, 24px);
  font-weight: 400;
  text-align: center;
}

.additional__special-offer {
  background-color: $bg-color-primary;
  color: #ffffff;
}
