.copyright {
  margin: 0;
  padding-top: 20px;

  @media (min-width: $min-width-tablet) {
    padding: 0;
    padding-left: 5px;
  }

  @media (min-width: $min-width-desktop) {
    margin-left: auto;
  }
}

.copyright__link {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-family-secondary;
  color: $color-text-secondary;
  text-decoration: none;

  &:hover .copyright__link-images,
  &:focus .copyright__link-images {
    color: #68b738;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $min-width-tablet) {
    width: 163px;
  }

  @media (min-width: $min-width-desktop) {
    width: 163px;
  }
}

.copyright__link-text {
  @include base-text-styles(16px, 20px);
  color: #444444;
}

.copyright__link-images {
  color: #666666;
}
