.features {
  padding: 20px;
  padding-bottom: 0;

  @media (min-width: $min-width-tablet) {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $min-width-desktop) {
    flex-wrap: wrap;
  }
}

.features__item {
  min-width: 100%;
  display: grid;
  grid-template-columns: 71px 1fr;
  grid-template-rows: 50px;
  padding-top: 24px;
  padding-right: 33px;
  padding-bottom: 18px;
  padding-left: 20px;
  background-color: $bg-color-secondary;

  @media (min-width: $min-width-tablet) {
    grid-template-columns: 340px 1fr;
    grid-template-rows: 50px auto 48px;
    padding-top: 77px;
    padding-right: 29px;
    padding-bottom: 53px;
    padding-left: 52px;
  }
}

.features__icon {
  @media (min-width: $min-width-tablet) {
    grid-column: 2/ 3;
    grid-row: 1/ -1;

    &--cat-less {
      justify-self: center;
      width: 200px;
      height: 211px;
    }

    &--cat-gain {
      justify-self: center;
      width: 268px;
      height: 200px;
    }
  }
}

.features__title {
  @include base-text-styles(24px, 37px);
  align-self: center;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $min-width-tablet) {
    @include base-text-styles(36px, 1);
    grid-column: 1/ 2;
  }
}

.features__description {
  min-width: 228px;
  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 23px;
  grid-column: 1/ -1;
  font-family: $font-family-secondary;
  color: $color-text-secondary;
  box-shadow: 0 1px 0 0 #d9d9d9;

  @media (min-width: $min-width-tablet) {
    @include base-text-styles(16px, 24px);
    grid-column: 1/ 2;
    padding: 0;
    box-shadow: 0 0 0 0 #d9d9d9;
  }
}

.features__link {
  @include base-text-styles(16px, 16px);
  grid-column: 1/ -1;
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 4px 0;
  color: $color-text-primary;
  text-decoration: none;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 10px;
    margin-left: 15px;
    mask-image: url("../../images/icons/stack.svg#arrow-icon");
    background-color: #000000;
    mask-size: cover;
  }

  @media (min-width: $min-width-tablet) {
    @include base-text-styles(20px, 1);
    grid-column: 1/ 2;
    margin: 0;
    padding: 0;

    &::after {
      margin-left: 25px;
      height: 12px;
    }
  }
}
