.location {
  display: flex;
  flex-direction: column;
}

.location__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 20px;
}

.location__title {
  @include base-text-styles(16px, 20px);
  margin: 0;
  color: #111111;
  text-transform: uppercase;
}

.location__address {
  font-family: $font-family-secondary;
  line-height: 20px;
  font-style: normal;
  color: $color-text-secondary;
}

.location__map-container {
  display: flex;
  justify-content: center;
}

.location__map {
  display: block;
  background-color: #ffffff;
}
