.location {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;

  & .location__container {
    background-color: #ffffff;
  }

  @media (min-width: $min-width-desktop) {
    position: relative;
    display: block;
  }
}

.location__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 20px;

  @media (min-width: $min-width-tablet) {
    grid-template-columns: 163px 157px;
    justify-content: space-between;
    padding: 60px 70px;
  }

  @media (min-width: $min-width-desktop) {
    position: absolute;
    top: 96px;
    left:  110px;
    width: 565px;
    grid-template-columns: 163px 157px;
    justify-content: space-between;
    padding: 60px;
    padding-left: 80px;
    padding-right: 78px;
    background-color: #ffffff;
    z-index: 3;

    & br {
      display: block
    }
  }
}

.location__title {
  @include base-text-styles(16px, 20px);
  margin: 0;
  margin-top: 2px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $min-width-tablet) {
    @include base-text-styles(20px, 26px);
  }
}

.location__address {
  font-family: $font-family-secondary;
  line-height: 20px;
  font-style: normal;
  color: $color-text-secondary;

  @media (min-width: $min-width-tablet) {
    @include base-text-styles(16px, 20px);
    text-align: end;
  }

  @media (min-width: $min-width-desktop) {
    margin-top: -2px;
    text-align: left;
  }
}

.location__address-citi {
  @media (min-width: $min-width-tablet) {
    display: block;
    margin-top: 20px;
  }
}

.location__map-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.location__map {
  width: 100%;
  z-index: 2;
  border: 0;

  @media (min-width: $min-width-tablet) {
    height: 400px;
  }
}

.location__map-images {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  background-color: #ffffff;
  z-index: 1;
}
