//-------------
.main-header {
  padding-top: 13px;
  padding-bottom: 0;

  @media (min-width: $min-width-tablet) {
    padding-top: 25px;
    padding-bottom: 0;
  }

  @media (min-width: $min-width-desktop) {
    padding-top: 55px;
    padding-bottom: 0;
  }
}
