//-------------
.main-header {
  padding-top: 13px;
  padding-bottom: 0;

  @media (min-width: $min-width-tablet) {
    padding-top: 25px;
    padding-bottom: 0;
  }

  @media (min-width: $min-width-desktop) {
    width: 100vw;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 0;

    &--primary::before {
      content: "";
      align-self: flex-start;
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 694px;
      margin-left: 720px;
      background-image: linear-gradient(90deg, rgba(104, 183, 56, 85%) 30%, rgba(104, 183, 56, 85%) 100%), url("../../images/promo-images/promo-image-background-desktop@1x.jpg");
      background-position: top right, top left;
      background-repeat: no-repeat;
    }
  }
}
