.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-color: $bg-color-secondary;

  @media (min-width: $min-width-tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 55px 30px;
  }

  @media (min-width: $min-width-tablet) {
    padding: 66px 110px;
  }
}

.main-footer__logo {
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
  box-shadow: 0 1px 0 #d9d9d9;
  display: block;

  @media (min-width: $min-width-tablet) {
    width: 124px;
    padding: 0;
    box-shadow: none;
  }
}
