.main-footer {
  padding: 38px 0;
  background-color: $bg-color-secondary;

  @media (min-width: $min-width-tablet) {
    padding: 55px 30px;
    padding-top: 57px;
  }

  @media (min-width: $min-width-desktop) {
    display: flex;
    width: 100%;
    padding: 66px 0;
  }
}

.main-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $min-width-tablet) {
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: $min-width-desktop) {
    justify-content: flex-start;
    width: 100vw;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 110px;
  }
}

.main-footer__logo {
  padding-bottom: 20px;
  text-align: center;
  display: block;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $min-width-tablet) {
    width: 128px;
    height: 27px;
    margin-top: 2px;
    margin-left: 1px;
    margin-right: 160px;
    padding: 0;
  }

  @media (min-width: $min-width-desktop) {
    margin-right: 416px;
  }
}

.main-footer__logo-text {
  display: block;

  @media (min-width: $min-width-tablet) {
    width: 128px;
    height: 24px;
  }

  @media (min-width: $min-width-desktop) {
    max-width: 128px;
    height: 24px;
  }
}
