.products-table__item {
  display: flex;
  flex-direction: column;

  @media (min-width: $min-width-desktop) {
    display: block;
  }
}

.products-table__title {
  @include base-text-styles(16px, 16px);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.products-table__description {
  font-family: $font-family-secondary;
  line-height: 14px;
  color: $color-text-secondary;
}

.products-table__price {
  font-family: $font-family-secondary;
  line-height: 14px;
  color: $color-text-secondary;
}

.products-table__link a {
  @include base-text-styles(16px, 20px);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: $bg-color-primary;
}
