.program {
  align-self: center;
  width: 320px;
  padding-top: 27px;
  padding-bottom: 32px;

  @media (min-width: $min-width-tablet) {
    width: 768px;
    align-self: center;
    padding: 0 70px;
    padding-top: 65px;
    padding-bottom: 60px;
  }

  @media (min-width: $min-width-desktop) {
    width: 1440px;
    padding: 0 110px;
    padding-top: 74px;
    padding-bottom: 79px;
  }
}

.program__title {
  @include base-text-styles(36px, 36px);
  margin: 0;
  margin-bottom: 36px;
  padding: $padding-mobile;
  font-weight: 400;

  @media (min-width: $min-width-tablet) {
    @include base-text-styles(60px, 1);
    align-self: flex-start;
    margin-bottom: 54px;
    padding: 0;
  }

  @media (min-width: $min-width-tablet) {
    margin-bottom: 55px;
  }
}

.program__description {
  margin: 0;
  margin-bottom: 39px;
  padding: $padding-mobile;
  text-transform: uppercase;

  @media (min-width: $min-width-tablet) {
    @include base-text-styles(20px, 30px);
    align-self: flex-start;
    width: 323px;
    margin-bottom: 66px;
    padding: 0;
  }
}
