.promo {
  color: #ffffff;
  background-color: $bg-color-primary;
  background-image: url("../../images/promo-images/promo-image-background-mobile@1x.jpg");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.promo__title {
  @include base-text-styles(36px, 36px);
  font-weight: 400;
  text-align: center;
}

.promo__slogan {
  line-height: 14px;
  text-transform: uppercase;
}

.promo__link {
  @include base-text-styles(16px, 20px);
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $bg-color-primary;
}
