.reviews {
  background-color: $bg-color-secondary;
}

.reviews__title {
  @include base-text-styles(36px, 40px);
  font-weight: 400;
  text-align: center;
}

.reviews__description {
  font-family: $font-family-secondary;
  color: $color-text-secondary;
}

.reviews__number {
  @include base-text-styles(24px, 24px);
  text-align: center;
  text-transform: uppercase;
}

.reviews__text {
  @include base-text-styles(12px, 12px);
  font-family: $font-family-secondary;
  color: $color-text-secondary;
  text-transform: lowercase;
}

.reviews__price {
  @include base-text-styles(20px, 20px);
  text-align: center;
  text-transform: uppercase;
}
