.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: $bg-color-secondary;

  @media (min-width: $min-width-tablet) {
    padding: 30px;
    padding-top: 45px;
    padding-bottom: 101px;
    background-color: #ffffff;
  }

  @media (min-width: $min-width-desktop) {
    display: grid;
    grid-template-columns: 436px 560px;
    justify-content: space-between;
    padding: $padding-desktop;
    padding-top: 69px;
    padding-bottom: 75px;
    background-image: linear-gradient(180deg, #ffffff 0, #ffffff 220px, #f2f2f2 220px);
  }
}

.reviews__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $min-width-tablet) {
    grid-template-columns: 367px 1fr;
    margin-bottom: 99px;
  }

  @media (min-width: $min-width-desktop) {
    grid-template-columns: 367px auto;
    margin-bottom: 0;
  }
}

.reviews__title {
  @include base-text-styles(36px, 40px);
  grid-column: 1/ -1;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;

  @media (min-width: $min-width-tablet) {
    @include base-text-styles(60px, 1);
    margin-bottom: 60px;
  }

  @media (min-width: $min-width-desktop) {
    margin-bottom: 146px;
  }
}

.reviews__description {
  grid-column: 1/ -1;
  margin: 20px 0;
  font-family: $font-family-secondary;
  color: $color-text-secondary;

  @media (min-width: $min-width-tablet) {
    @include base-text-styles(16px, 24px);
    margin-bottom: 55px;
  }

  @media (min-width: $min-width-desktop) {
    margin: 0;
    margin-bottom: 69px;
  }
}

.reviews__list {
  width: 280px;
  grid-column: 1/ -1;
  justify-self: center;
  display: grid;
  grid-template-columns: 124px 124px;
  justify-content: space-between;
  margin: 0;

  @media (min-width: $min-width-tablet) {
    width: 367px;
    grid-column: 1/ 2;
    justify-self: flex-start;
    grid-template-columns: 162px 162px;
  }

  @media (min-width: $min-width-tablet) {
    width: 367px;
    grid-column: 1/ 2;
    justify-self: flex-start;
    grid-template-columns: 162px 162px;
  }
}

.reviews__number {
  @include base-text-styles(24px, 24px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 17px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  text-transform: uppercase;

  &--weight {
    grid-column: 1/ 2;
    grid-row: 1/ 2;
  }

  &--days {
    grid-column: 2/ 3;
    grid-row: 1/ 2;
  }

  @media (min-width: $min-width-tablet) {
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

.reviews__text {
  @include base-text-styles(12px, 12px);
  width: fit-content;
  margin: 0 auto;
  margin-top: -8px;
  padding: 0 15px;
  font-family: $font-family-secondary;
  color: $color-text-secondary;
  text-transform: lowercase;
  text-align: center;
  z-index: 1;
  background-color: #f2f2f2;

  @media (min-width: $min-width-tablet) {
    @include base-text-styles(14px, 1);
    padding: 0 8px;
    background-color: #ffffff;

    & br {
      display: none;
    }
  }

  @media (min-width: $min-width-desktop) {
    background-color: #f2f2f2;
  }
}

.reviews__price {
  @include base-text-styles(20px, 1);
  grid-column: 1/ -1;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $min-width-tablet) {
    grid-column: 2/ 3;
    justify-self: flex-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    margin-top: 11px;
  }

  @media (min-width: $min-width-desktop) {
    width: 327px;
    grid-column: 1/ -1;
    justify-self: flex-start;
    display: flex;
    justify-content: space-between;
  }
}

.reviews__price-text {
  @media (min-width: $min-width-tablet) {
    grid-column: 1/ -1;
  }
}

.reviews__price-value {
  @media (min-width: $min-width-tablet) {
    grid-column: 1/ -1;
    justify-self: flex-end;
  }
}

.reviews__slider {
  width: 280px;
  display: grid;
  grid-template-columns: var(--persent, 50%) 1fr;

  @media (min-width: $min-width-tablet) {
    width: 560px;
  }

  @media (min-width: $min-width-desktop) {
    grid-column: 2/ 3;
    grid-row: 1/ -1;
  }
}

.reviews__slide {
  overflow: hidden;
  display: flex;
  grid-row: 1/ 2;
}

.reviews__preview-image {
  max-width: none;
  object-fit: none;
}

.reviews__slider-before {
  justify-content: flex-start;
  grid-column: 1/ 2;
}

.reviews__slider-after {
  justify-content: flex-end;
  grid-column: 2/ 3;
}

.reviews__slider-toggle {
  justify-self: center;
  transform: translateX(-50%);
  grid-column: 1/ -1;
  grid-row: 1/ 2;
  width: 4px;
  height: 100%;
  background-color: #666666;
  z-index: 1;
  border-radius: 4px;
}

.reviews__slider-toggle-button {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translateX(50%);
}
