.site-list {
  @include base-text-styles(20px, 20px);
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.site-list__link {
  color: $color-text-primary;
  text-decoration: none;
  text-transform: uppercase;
}
