.site-list {
  @include base-text-styles(20px, 20px);
  display: none;
  align-self: center;
  width: 100vw;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  z-index: 2;

  &--open {
    display: block;
    position: absolute;
    top: 100%;
    background-color: #ffffff;
  }

  &--close {
    display: none;
  }

  &--nojs {
    display: block;
    position: static;
  }

  @media (min-width: $min-width-tablet) {
    @include base-text-styles(18px, 24px);
    min-width: 436px;
    max-width: 400px;
    position: static;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 33px;
    text-align: right;
  }

  @media (min-width: $min-width-desktop) {
    @include base-text-styles(20px, 1);
    max-width: 476px;
    align-self: flex-start;
    margin-top: 24px;
    background-color: transparent;
  }
}

.site-list__item {
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 0 0 #e6e6e6;

  @media (min-width: $min-width-tablet) {
    position: relative;
    bottom: 2px;
    display: block;
    box-shadow: none;
  }

  @media (min-width: $min-width-desktop) {
    &--primary .site-list__link {
      color: #ffffff;
    }

    &--primary .site-list__link::before {
      background-color: #ffffff;
    }
  }
}

.site-list__item:first-child {
  box-shadow: 0 -1px 0 0 #e6e6e6, 0 1px 0 0 #e6e6e6;

  @media (min-width: $min-width-tablet) {
    box-shadow: none;
  }
}

.site-list__link {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 24px;
  color: $color-text-primary;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }


  @media (min-width: $min-width-tablet) {
    display: block;
    padding-top: 18px;
    padding-bottom: 8px;

    &--current::before {
      position: absolute;
      right: 50%;
      bottom: 0;
      transform: translateX(50%);
      width: 100%;
      height: 2px;
      background-color: #68b738;
      content: "";
    }
  }

  @media (min-width: $min-width-desktop) {
    padding: 0;
    padding-bottom: 12px;
  }
}
