//-------------
.social-list {
  min-width: 132px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px 0;
  list-style: none;

  @media (min-width: $min-width-tablet) {
    padding: 0;
    box-shadow: none;
  }
}
